
/** Navigation Bar **/

.nav {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(250, 250, 250);
}

.breadcrumb {
    background-color:white;
    margin: 0;
    font-size: 12px;
}
.jumbotron {
    background-color:rgb(250, 250, 250);
}

/** Overview of the Project **/

.section-one {
    margin: 100px;
    display: flex;
    justify-content: center;
}

.section-one-image {
    width: 500px;
    padding: 50px;
}

.section-one-overview {
    width: 500px;
}

/** Research Portion **/

.row {
    margin: 100px;
    display: flex;
    justify-content: center;
}
.list-group {
    width: 250px;
}

    /** Analysis **/
.analysis-image {
    width: 800px;
}
.tab-pane {
    width: 800px;
}